


<h2 class="align-center">Edit Your Profile</h2>
<p class="align-center blue"><i>Leave blank anything you do not wish to update.</i></p>
<br>


<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="row">
      <div class="field">
        <div class="col-sm-4">
          <h4><%= f.label :Company_name %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :company, autofocus: true, class: 'form-control' %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row -->
  <div class="row">
      <div class="field">
          <div class="col-sm-4">        
            <h4><%= f.label :Company_email %>
          </div>
          <div class="col-sm-8">            
            <%= f.email_field :email, autofocus: true, class: 'form-control' %></h4>
          </div>
      </div><!-- end field -->
  </div><!-- end row -->
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
          <h4><%= f.label :Phone_number %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :phone, class: 'form-control' %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row -->
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
          <h4><%= f.label :Wholesaler_website %>
        </div>
        <div class="col-sm-8">            
          <%= f.text_field :url, class: 'form-control' %></h4>
        </div>  
      </div><!-- end field -->
  </div><!-- end row -->
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
          <h4><%= f.label :Please_list_your_specialties %>
        </div>
        <div class="col-sm-8">
          <%= f.text_field :specialties, placeholder: 'eg. multifamily, single family, land...', class: 'form-control' %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row -->
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
            <h4><%= f.label :Buyers_should_also_know %>
        </div>
        <div class="col-sm-8">
            <%= f.text_area :details, placeholder: 'eg. Text me for fast response / Buy directly from my website.', class: 'form-control', cols: "5", rows: "5" %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row --><br>
  
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
            <h4><%= f.label :New_password %> <i>(leave blank if you don't want to change it)</i>
        </div>
        <div class="col-sm-8">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control' %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row -->
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
            <h4><%= f.label :New_password_confirmation %>
        </div>
        <div class="col-sm-8">              
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row -->
      <hr>
  <div class="row">
      <div class="field">
        <div class="col-sm-4">        
            <h4><%= f.label :current_password_ %><i> ( &#42; required)</i>
        </div>
        <div class="col-sm-8">
            <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %></h4>
        </div>
      </div><!-- end field -->
  </div><!-- end row --> 

  <div class="row">
      <br>
      <div class="actions align-center">
        <%= f.submit "Update Profile", class: 'btn btn-primary btn-lg align-center' %>
      </div>
  </div><!-- end row -->
<% end %><!-- end each form do -->
<br>
<%= link_to "<-- Back to My Account", :back %> &nbsp;|&nbsp; 
<%= link_to "Create New Listing", new_listing_path %>
<hr>
<h3 class="align-center">Cancel my account</h3>

<p class="align-center"><b>Unhappy?</b></p> 
<p class="align-center">
  <%= link_to 'Tell Us About It', about_path, class: 'btn btn-success btn-sm' %>
  &nbsp;...or...&nbsp;
  <%= link_to "Cancel My Account", registration_path(resource_name), data: { confirm: "Are you sure? Your profile info and all your listings will be deleted." }, method: :delete, class: 'btn btn-warning btn-sm' %>
</p>
<br><br>


