<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <hr>
      <div class="row">
        
        <div class="col-sm-6 align-center">
          <div class="field">
            <%= f.label :City %><br>
            <%= f.text_field :city %>
          </div><!-- end field -->
        </div><!-- end col -->

        <div class="col-sm-6 align-center">
          <div class="field">
            <%= f.label :State %><br>
            <%= f.collection_select :state_id, State.all, :id, :state_name %>
          </div><!-- end field -->
        </div><!-- end col -->

      </div><!-- end row -->
    <hr>
    <h5 class="align-center"><i>~ The following data is pulled from your company profile and will be listed within your Wholesaler Listing. ~</i></h5><br>

    <div class="align-center">
      <p><strong>Company email:</strong> <%= current_user.email %></p>
      <p><strong>Phone number:</strong> <%= current_user.phone %></p>
      <p><strong>Wholesaler website:</strong> <%= current_user.url %></p>
      <p><strong>Wholesaler's specialties:</strong> <%= current_user.specialties %></p>
      <p><strong>Buyers should also know:</strong> <%= current_user.details %></p>
    </div>

    <div class="btn btn-default align-center-important">
      <%= f.submit %>
    </div>

<% end %>

<!-- Dev note - there should not be any pricing charges on this form itself. Refer to new listing pages for payment request code. -->

  