<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

   <hr>
      <div class="row">
        
        <div class="col-sm-6 align-center">
          <div class="field">
            <h4 class="blue"><%= f.label :City %></h4>
            <%= f.text_field :city, class: 'form-control', placeholder: 'Wholesaling City' %>
          </div><!-- end field -->
        </div><!-- end col -->

        <div class="col-sm-6 align-center">
          <div class="field">
            <h4 class="blue"><%= f.label :State %></h4>
            <h4 class="drop-down"><%= f.select :state_name, Listing::STATES, {style: "min-width: 100px;"}, prompt: "Choose a US State", class: 'drop-down' %></h4>
          </div><!-- end field -->
        </div><!-- end col -->

      </div><!-- end row -->
    <hr>
    <h5 class="align-center"><i>~ The following data is pulled from your company profile and will be listed within your Wholesaler Listing automatically.  To change it, change your <%= link_to 'profile settings', my_profile_path %>. ~</i></h5><br>

    <table class="listing-table">
       <tr>
        <td><strong>Your Name:</strong></td> 
        <td><%= current_user.company %></td>
      </tr>
      <tr>
        <td><strong>Your Email:</strong></td> 
        <td><%= current_user.email %></td>
      </tr>
      <tr>
        <td><strong>Your Phone number:</strong></td> 
        <td><%= current_user.phone %></td>
      </tr>
      <tr>
        <td><strong>Your Website:</strong></td> 
        <td><%= current_user.url %></td>
      </tr>
      <tr>
        <td><strong>Your Specialties:</strong></td>
        <td><%= current_user.specialties %></td>
      </tr>
      <tr>
        <td><strong>Buyers should also know:</strong></td> 
        <td><%= current_user.details %></td>
      </tr>
    </table>

    <br>
    <div class="align-center-important">
      <%= f.submit class: 'btn btn-primary btn-lg'%>
    </div>

<% end %>

<!-- Dev note - there should not be any pricing charges on this form itself. Refer to new listing pages for payment request code. -->

  