<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  
<!--
    <p>TODO: Type of listing - this will be a category to select that will render this particular form.</p>
-->
    <p><strong>New Wholesaler Listing</strong></p>
    <p>TODO: Link- Create Wholesaler Trainer listing instead</p>

    <div class="field">
      <%= f.label :City %><br>
      <%= f.text_field :city %>
    </div>

    <p>TODO: state selections drop down will go here</p>

    <p><strong>Company email:</strong> <%= current_user.email %></p>
    <p><strong>Phone number:</strong> <%= current_user.phone %></p>
    <p><strong>Wholesaler website:</strong> <%= current_user.url %></p>
    <p><strong>Wholesaler's specialties:</strong> <%= current_user.specialties %></p>
    <p><strong>Buyers should also know:</strong> <%= current_user.details %></p>



    <p>Note: Other than location, your company profile (contact details, specialty, etc.) stays the same per each wholesaler listing.  To change any of the above company details, go to your account settings <%= link_to 'here', edit_user_registration_path %>, and then return to this page to create your listing.</p>

    <div class="btn btn-success">
      <%= f.submit %>
    </div>

<% end %>

<!-- Dev note - there should not be any pricing charges on this form itself. Refer to new listing pages for payment request code. -->


  <p>TODO: Show them a preview of their post, if possible. </p>

  