<%= form_for(@listing) do |f| %>
  <% if @listing.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
      <% @listing.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<p>TODO: Category - Type of posting - either wholesaler or specialist</p>


    <div class="field">
      <%= f.label :City %><br>
      <%= f.text_field :city %>
    </div>

    <div class="field">
      <%= f.label :State %><br>
      <%= f.collection_select(:state_id, State.order(:id), :id, :state) %>
    </div>
    
   
    <p><strong>State:(this will be a category) </strong></p>

    <p><strong>Company email:</strong> <%= current_user.email %></p>
    <p><strong>Phone number:</strong> <%= current_user.phone %></p>
    <p><strong>Wholesaler website:</strong> <%= current_user.url %></p>
    <p><strong>Wholesaler's specialties:</strong> <%= current_user.specialties %></p>
    <p><strong>Buyers should also know:</strong> <%= current_user.details %></p>



    <p>Note: Other than location, your profile (contact details, specialty, etc.) stays the same per each wholesaler listing.  To change any of the above details about your profile, go to your account settings <%= link_to 'here', edit_user_registration_path %></p>

    <div class="actions btn">
      <%= f.submit %>
    </div>

<% end %>

  <p>TODO: See our pricing guidelines here</p>
  <p>TODO: Show them a preview of their post, if possible. </p>

  