
<p id="notice"><%= notice %></p>

  <h2 class="align-center">All <span>TODO listing.state_name</span> Wholesaler Listings</h2>
  <h4 class="align-center">Click on a wholesaler to see their full profile</h4><br><br>

     <b class="float-right"><%= link_to 'Create New Listing', new_listing_path, class: 'btn btn-primary btn-md' %></b>
     <br>


  <table class="table table-responsive table-striped table-hover">
            <tr>
              <th>Wholesaler</th>
              <th>Location</th>
              <th>Specialties</th>
              <th></th>
            </tr>
      <% @listings.each do |listing| %>
        <%= link_to listing, class: 'no-decoration' do %>
            <tr>
              <td><%= listing.user.company %></td>
              <td><%= listing.city %>, <%= listing.state_name %></td>
              <td><%= listing.user.specialties %></td>
              <td>
                <%= link_to "View", listing_path(listing) %>
                <% if user_signed_in? && listing.user == current_user %>

                  <%= link_to edit_listing_path(listing), class: 'btn btn-info btn-sm' do %>
                      Edit
                  <% end %> &nbsp;
                
                  <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info btn-sm' do %>
                      Delete
                  <% end %>
                  
                <% end %><!-- end for if user signed in -->
              </td>
            </tr>
          <% end %> <!-- link to each listing -->
        <% end %><!-- end for display each listing -->
    </table>
    <br>

    <p class="align-center">TODO: paginate</p>

   
 



