
<p id="notice"><%= notice %></p>

  <h2 class="align-center">All <span class="blue"><%= params[:state_name] %></span> Wholesaler Listings</h2>
  <% unless @listings.size == 0 %>
    <h4 class="align-center">View wholesaler details to see their full profile</h4><br><br>

    <b class="float-right"><%= link_to 'Create New Listing', new_listing_path, class: 'btn btn-primary btn-md' %></b>
    <br>
  <% end %>

  <% if @listings.size == 0 %>
    <section class="align-center" id="no-listings-area">
      <br>
      <p>There are no listings for this state.  Yet.  <br>Be the first wholesaler in the <%= params[:state_name] %> market.</p>
      <br>
      <p><%= link_to 'Create New Listing', new_listing_path, class: "btn btn-primary btn-lg" %></p> 
      <p>or</p>
      <p><%= link_to 'View All States', root_path, class: "btn btn-primary btn-md" %></p>
      <br><br>
    </section><!-- end #no-listings-area -->

  <% else %><!-- if listing size is not == 0 -->

      <table class="table table-responsive table-striped table-hover">
          <thead class="not-vis-xs">  
            <tr>
              <th scope: "col">Wholesaler</th>
              <th scope: "col">Location</th>
              <th scope: "col">Specialties</th>
              <th scope: "col"></th>
            </tr>
          </thead>
          <tbody>

            <% @listings.each do |listing| %>

              <%= link_to listing, class: 'no-decoration' do %>

                <tr>
                  <td><span class="xs-title hidden-sm hidden-md hidden-lg inline">Wholesaler: </span><%= listing.user.company %></td>
                  <td><span class="xs-title hidden-sm hidden-md hidden-lg inline">Location: </span><b><%= listing.city %></b>, <%= listing.state_name %></td>
                  <td><span class="xs-title hidden-sm hidden-md hidden-lg inline">Specialties: </span><%= truncate(listing.user.specialties) %></td>
                  <td>
                    <%= link_to "View Details", listing_path(listing) %>
                    <% if user_signed_in? && listing.user == current_user %>
                      &nbsp;|&nbsp;
                      <%= link_to edit_listing_path(listing) do %>
                        Edit
                      <% end %> 
                      &nbsp;|&nbsp;
                      <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' } do %>
                        Delete
                      <% end %>
                      
                    <% end %><!-- end for if user signed in -->
                  </td>
                </tr>

              <% end %> <!-- link to each listing -->
            <% end %><!-- end for ruby block of index display each listing -->
        <% end %><!-- end for unless @listings.count == 0  -->
      </tbody>
    </table>

    <div class="align-center">  
      <p><%= will_paginate @listings, renderer: BootstrapPagination::Rails %></p>
    </div>
    <% if @listings.size != 0 %>
      <div class="text-center">
        <!-- TODO after launch: change this button to one button for the previous state and one for the next state, so users don't have to click back to home to see another state -->
        <br>
        <% if params[:state_name] %> 
          <%= link_to "View All Listings", listings_path %>  &nbsp;|&nbsp; 
        <% end %>

        <%= link_to "View A Different State's Listings", root_path %>

    

      </div>
    <% end %>
    <br>

   
 



