<p id="notice"><%= notice %></p>
<div class="container">
    <h2 class="align-center">All (TODO: state name here) Wholesaler Listings</h2><br>


  <div class="row">
        <% @listings.each do |listing| %>
          
            <div class="col-sm-6 col-xs-12">
            
                <p>Wholesaler: <%= listing.user.company %></p>
                <p>Location: <%= listing.city %>, <%= listing.state %></p>
                <p>Contact: <%= listing.user.email %>, Phone: <%= listing.user.phone %></p>
                <p>Website: <%= listing.user.url %></p>
                <p>Specialties: <%= listing.user.specialties %></p>
      
                <%= link_to listing, class: 'btn btn-default btn-sm' do %>
                      <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
                <% end %> &nbsp;

                <% if user_signed_in? && listing.user == current_user %>

                    <p><%= link_to edit_listing_path(listing), class: 'btn btn-default btn-sm' do %>
                       <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                    <% end %> &nbsp;
                  
                    <%= link_to listing, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-sm' do %>
                        <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                    <% end %></p>
                <% end %><!-- end for if user signed in -->
            </div><!-- end each col-sm-6 col-xs-12-->
            
         <% end %><!-- end for display each listing -->
     </div><!-- end row(s) -->


    <br>

    <p>TODO: edit how paginations look. Center. Make smaller. </p>
    <p><%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: 'align-center' %></p>
    <%= link_to 'Create New Listing', new_listing_path, class: 'btn btn-default btn-lg' %>

</div><!-- end .well -->

