<p id="notice"><%= notice %></p>

<h3>Show Listings</h3>
	<p>Show state result </p>
	<p><strong>City:</strong> <%= @listing.city %></p>
	<p><strong>Wholesaler:</strong> <%= current_user.company %></p>
	<p><strong>User ID:</strong>  <%= @listing.user_id %></p>
	<p><strong>Company email:</strong> <%= current_user.email %></p>
	<p><strong>Phone number:</strong> <%= current_user.phone %></p>
	<p><strong>Wholesaler website:</strong> <%= current_user.url %></p>
	<p><strong>Wholesaler's specialties:</strong> <%= current_user.specialties %></p>
	<p><strong>Buyers should also know:</strong> <%= current_user.details %></p>

</p>
<% if current_user == @listing.user && user_signed_in? %>
<%= link_to 'Edit', edit_listing_path(@listing) %> |
<% end %>
<%= link_to 'Back to All Listings', listings_path %>
