

<p id="notice"><%= notice %></p>

<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="align-center"><%= @listing.user.company %>, Real Estate Wholesaler</h3>
			<h4 class='align-center'><strong><em><%= @listing.city %>, <%= @listing.state_name %></em></strong></h4>

		<% if current_user == @listing.user && user_signed_in? %>
			<h4 class="align-right"><%= link_to edit_listing_path(@listing), class: 'btn btn-info btn-sm' do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit Listing
			<% end %></h4>
		<% end %>
	</div><!-- end .panel-heading -->

	<div class="panel-body">
		<table>
			<tr>
				<td><strong>Wholesaler's specialties:</strong></td>
				<td><%= @listing.user.specialties %></td>
			</tr>
		</table>
	</div><!-- end .panel-body -->
	<div class="panel-body">
		<table>
			<tr>
				<td><strong>Email:</strong></td>
				<td><%= @listing.user.email %></td>
			</tr>
			<tr>
				<td><strong>Phone number:</strong></td>
				<td><%= @listing.user.phone %></td>
			</tr>
			<tr>
				<td><strong>Website:</strong></td>
				<td><%= @listing.user.url %></td>
			</tr>
			<tr>
				<td><strong>Buyers should also know:</strong></td>
				<td><%= @listing.user.details %></td>
			</tr>
		</table>
	</div><!-- end .panel-body -->

	<div class="panel-footer">
		<span id="listing-footer-area">
		<h5><u>Summary</u>: <%= @listing.user.company %> is listed as a wholesaler in <%= pluralize(@listing.user.listings.count, "area") %>:</h5>
				<% @listing.user.listings.each do |l| %>
					<ul>
						<li><%= link_to "#{l.city}, #{l.state_name}", listing_path(l) %></li>
					</ul>
				<% end %>
		</span>
	</div><!-- end .panel-footer -->

</div><!-- end .panel -->
	
	<h5 class="align-center">

		<%= link_to listings_path, class: 'btn btn-info btn-md' do %>
			<span class="glyphicon glyphicon-list" aria-hidden="true"></span> View All Listings
		<% end %>TODO make this a view all State listings
	</h5>

