

<p id="notice"><%= notice %></p>

<div class="well">

	<h3 class="align-center">Wholesaler Listing</h3>
		<p class='align-center'><strong><em><%= @listing.city %>, <%= @listing.state.state_name %></em></strong></p>
		<br>
		<p><strong>Wholesaler:</strong> <%= @listing.user.company %></p>
		<p><strong>Company email:</strong> <%= @listing.user.email %></p>
		<p><strong>Phone number:</strong> <%= @listing.user.phone %></p>
		<p><strong>Wholesaler website:</strong> <%= @listing.user.url %></p>
		<p><strong>Wholesaler's specialties:</strong> <%= @listing.user.specialties %></p>
		<p><strong>Buyers should also know:</strong> <%= @listing.user.details %></p>
	</p>

	<p>TODO: <%= @listing.user.company %> is also listed as a wholesaler in the following areas... (add an if listings.count >= 1 , display this list.) </p>

	TODO: make this following button a view all of that state button link --->

	<%= link_to 'View All Listings', listings_path, class: 'btn btn-info' %>
	<% if current_user == @listing.user && user_signed_in? %>
		<%= link_to 'Edit This Listing', edit_listing_path(@listing), class: 'btn btn-warning' %>
	<% end %>


	<p class="align-center">TODO: paginate</p>

</div><!-- end .well -->