
<p id="notice"><%= notice %></p>

<div id="wholesaler-details" class="panel panel-default">
	<div class="panel-heading">
		<h3 class="align-center"><%= @listing.user.company %>, Real Estate Wholesaler</h3>
		<h4 class='align-center blue'><strong><em><%= @listing.city %>, <%= @listing.state_name %></em></strong></h4>

		<% if current_user == @listing.user && user_signed_in? %>
			<h4 class="align-right"><%= link_to edit_listing_path(@listing), class: 'btn btn-info btn-sm' do %>
				<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit Listing
			<% end %></h4>
		<% end %>
	</div><!-- end .panel-heading -->

	<div class="panel-body">
		<table>
			<tr class="larger">
				<td><strong>Wholesaler's specialties:</strong></td>
				<td><%= @listing.user.specialties %></td>
			</tr>
		</table>
	</div><!-- end .panel-body -->
	<div class="panel-body">
		<table>
			<tr>
				<td><strong>Email:</strong></td>
				<td><%= @listing.user.email %></td>
			</tr>
			<tr>
				<td><strong>Phone number:</strong></td>
				<td><%= @listing.user.phone %></td>
			</tr>
			<tr>
				<td><strong>Website:</strong></td>
				<td><%= @listing.user.url %></td>
			</tr>
			<tr>
				<td><strong>Buyers should also know:</strong></td>
				<td><%= @listing.user.details %></td>
			</tr>
		</table>
	</div><!-- end .panel-body -->

	<div class="panel-footer text-center">
		<span id="listing-footer-area">
			<h5><u>Summary</u>: <%= @listing.user.company %> is listed as a wholesaler in <%= pluralize(@listing.user.listings.count, "area") %>:</h5>
				<% @listing.user.listings.each do |l| %>
					<p><%= link_to "#{l.city}, #{l.state_name}", listing_path(l) %></p>
				<% end %>
		</span>
	</div><!-- end .panel-footer -->

</div><!-- end .panel -->
	
<section class="pagination">
	<p class="align-center">TODO paginate "Previous" | All _state_ | "Next"</p>
</section>


<% if user_signed_in? %>
	<p class="align-right"><%= link_to 'Create New Listing', new_listing_path, class: "btn btn-info btn-sm" %></p>
<% end %>

<div class="clearfix"></div>
