

<p id="notice"><%= notice %></p>

<div class="well">

	<h3 class="align-center"><%= @listing.user.company %>, <span class="blue">Real Estate Wholesaler</span></h3>
		<h4 class='align-center'><strong><em><%= @listing.city %>, <%= @listing.state.state_name %></em></strong></h4>

	<% if current_user == @listing.user && user_signed_in? %>
		<h4 class="align-right"><%= link_to edit_listing_path(@listing), class: 'btn btn-info btn-sm' do %>
			<span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Edit Listing
		<% end %></h4>
	<% end %>

		<h4><strong class="blue">Email:</strong> <%= @listing.user.email %></h4>
		<h4><strong class="blue">Phone number:</strong> <%= @listing.user.phone %></h4>
		<h4><strong class="blue">Website:</strong> <%= @listing.user.url %></h4>
		<h4><strong class="blue">Wholesaler's specialties:</strong> <%= @listing.user.specialties %></h4>
		<h4><strong class="blue">Buyers should also know:</strong> <%= @listing.user.details %></h4>
	</p>

	<h5 class="indent"><i><%= @listing.user.company %> is also listed as a wholesaler in the following areas... (TODO: add an if listings.count >= 1 , display this list.)</i></h5>

	
	<h5 class="align-center">
		TODO: button -><%= link_to listings_path(@listing), 'View #{@listing.state.state_name} Listings', class: 'btn btn-info btn-md' %>

		<%= link_to listings_path, class: 'btn btn-info btn-md' do %>
			<span class="glyphicon glyphicon-list" aria-hidden="true"></span> View All Listings
		<% end %>
	</h5>


	<h4 class="align-center">TODO: paginate</h4>

</div><!-- end .well -->