<h2 class="align-center blue">Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= devise_error_messages! %>
<br>
  <div class="field align-center">
    <h4><%= f.label :Please_enter_your_email_address %></h4>
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'you@yourcompany.com' %>
  </div>
  <br>

  <div class="actions align-center">
    <%= f.submit "Send Password Reset Instructions", class: 'btn btn-info btn-lg' %>
  </div>
<% end %>

<div class="align-right blue"><h4><%= render "devise/shared/links" %></h4></div>
