
<h3 class="align-center">Your Listings:</h3>
<br>
<h5 class="align-right margin"><%= link_to 'Create New Listing', new_listing_choice_path, class: 'btn btn-primary btn-sm' %></h5>


<h4>Your Wholesaler Listings:</h4>
<h5 class="indent"><%= current_user.company %>, you are listed as a wholesaler in <%= pluralize(current_user.listings.count, "area") %>: </h5>
			<% current_user.listings.each do |l| %>
				<ul><li><%= link_to "#{l.city}, #{l.state_name}", listing_path(l) %></li>
				</ul>
			<% end %>

<br>

<h4> Your account status:</h4>
<h5 class="indent">

	 <% if current_user.subscribed %>
		<p>ACTIVE.</p>
		
	 <% else %>
		<p>INACTIVE</p>
		<p><%= link_to "Active My Subscription", new_subscriber_path, class: "btn btn-sm btn-primary" %></p>
	 <% end %>
</h5>
<br><hr>
<small class="text-right">To cancel your subscription, please email team@rewholesalerdatabase.com.</small>
	<!-- TODOlater create automatic unsubscribe button below -->
<p class="indent"><small>For your convenience, we are working on creating an automatic unsubscription method. To be released soon.</small></p>

<br>
<%= link_to "<-- Back to My Account", my_account_path %><br><br>




