

<<<<<<< HEAD
<button class="btn btn-default"><%= link_to 'List yourself as a wholesaler', new_listing_path %></button>

=======
>>>>>>> 09e63e44259fcb19eb7a3588c9e4cdac51b8e577
<div class="clear"></div>
    
<!-- div for states loop through links -->

<div>
    <% State.all.each do |s| %>
        <%= link_to s.state_name, listings_path(state: s.state_name) %>
    <% end %>
</div>

<!-- end experimental area for displaying only certain listings of certain states-->
        <br>
        <div class="wholesaler-areas">

                    <h4><span class="glyphicon glyphicon-search align-center"></span><strong>    Where would you like to find wholesalers?</strong></h4>
            
            <br>
        
            <div class="row">
            
                <div class="col-md-2 col-sm-4 col-xs-6 align-center">
                    <ul class="location-lists">
                        <li> Alabama</li>
                        <li><a>Alaska</a></li>
                        <li><a>Arizona</a></li>
                        <li><a>Arkansas</a></li>
                        <li><%= link_to 'California', listings_path %></li>
                        <li><a>Colorado</a></li>
                        <li><a>Connecticut</a></li>
                        <li><a>Delaware</a></li>
                        <li><a>Florida</a></li>
                    </ul>
                
                 </div><!-- end col 1 of 6 -->

                 <div class="col-md-2 col-sm-4 col-xs-6 align-center">
                    <ul class="location-lists">
                        <li><a>Georgia</a></li>
                        <li><a>Hawaii</a></li>
                        <li><a>Idaho</a></li>
                        <li><a>Illinois</a></li>
                        <li><a>Indiana</a></li>
                        <li><a>Iowa</a></li>
                        <li><a>Kansas</a></li>
                        <li><a>Kentucky</a></li>
                        <li><a>Louisiana</a></li>
                        
                    </ul>
                </div>  

                <div class="col-md-2 col-sm-4 col-xs-6 align-center">
                     <ul class="location-lists">
                        <li><a>Maine</a></li>
                        <li><a>Maryland</a></li>
                        <li><a>Massachusetts</a></li>
                        <li><a>Michigan</a></li>
                        <li><a>Minnesota</a></li>
                        <li><a>Mississippi </a></li>
                        <li><a>Missouri</a></li>
                        <li><a>Montana</a></li>
                        <li><a>Nebraska</a></li>
                        
                    </ul>
                </div>

                <div class="col-md-2 col-sm-4 col-xs-6 align-center"> 
                     <ul class="location-lists">
                        <li><a>Nevada</a></li>
                        <li><a>New Hampshire</a></li>
                        <li><a>New Jersey</a></li>
                        <li><a>New Mexico</a></li>
                        <li><a>New York</a></li>
                        <li><a>North Carolina</a></li>
                        <li><a>North Dakota</a></li>
                        <li><a>Ohio</a></li>
                        <li><a>Oklahoma</a></li>
                        
                    </ul>
                 </div>

                  <div class="col-md-2 col-sm-4 col-xs-6 align-center"> 
                     <ul class="location-lists">
                        <li><a>Oregon</a></li>
                        <li><a>Pennsylvania</a></li>
                        <li><a>Rhode Island</a></li>
                        <li><a>South Carolina</a></li>
                        <li><a>South Dakota</a></li>
                        <li><a>Tennessee</a></li>
                        <li><a>Texas</a></li>
                        <li><a>Utah</a></li>
                        <li><a>Vermont</a></li>
                        
                    </ul>
                 </div>

                 <div class="col-md-2 col-sm-4 col-xs-6 align-center"> 
                     <ul class="location-lists">
                        <li><a>Virginia</a></li>
                        <li><a>Washington</a></li>
                        <li><a>West Virginia</a></li>
                        <li><a>Wisconsin</a></li>
                        <li><a>Wyoming</a></li>
                        <br>
                        <li><strong><%= link_to 'All US States', listings_path %></strong></li><br>
                        <li><%= link_to new_listing_path, class: 'btn btn-default btn-md align-right' do %>
                            <span class="glyphicon glyphicon-plus align-right" aria-hidden="true"></span>
                            New
                            <% end %></li>
                    </ul>
                 </div>

                

            </div><!--end row of states -->

            <h6>If you would like us to expand to Canada, please <%= link_to "contact us", about_path %> to let us know.</h6>
        </div><!-- end wholesaler areas -->

        <div class="explanation">
            <h4><strong>What is Real Estate Wholesaling?</strong></h4>
            <br>
            <p>Real estate wholesaling is the most popular and widely-taught method of breaking into the real estate investing scene.   With little or no money down, you follow these steps: <br>
            <div class="internal-list">
                 1. Put a property under contract for a cash purchase, usually a property that needs a lot of work or where the seller is in distress. (make sure this contract is assignable)<br>
                 2. You  assign the contract to a cash buyer who wants to flip the property, who will pay slightly more for it than what you have it under contract for <br>
                 3. All three parties directly involved in the transaction set up a closing date, and at closing you walk away with a check for the difference between the initial contract and the marked up price that the end user pays. 
                    <br><br>
                 <em>The wholesaler walks away with what usually resembles a profit (aka "finder's fee"), of about 10% of the initial contract price.</em>
            </div><!--end .internal-list -->
                 <br>
                Investors like buying from wholesalers because they are experts in their market, they have a lot of properties to choose from, and the job of finding the deal is done for them.  All the investor has to do is flip the house for a profit.  <br>
                Find wholesalers in your market by selecting your preferred location above.
                </p>
            <%= link_to "Learn more about real estate wholesaling here", resources_path, class: "align-right-float" %></a>
            <br>

        </div><!--close .explanation -->
        
        <div class="clear"></div>
     

</body>
</html>