

<h3>My Account</h3>


<p><%= link_to 'Edit account details', edit_user_registration_path %></p>
<p><%= link_to 'Change password', edit_user_password_path %></p>

<p>Profile</p>

<p>All posts</p>

<p>Advertising $ summary</p>

<p><%= link_to 'Log Out', destroy_user_session_path %></p>
<p><%= link_to "Cancel Account", edit_user_registration_path %></p>
<p><%= link_to "Contact Us", about_path %></p>