<div class="well">

	<h3 class="align-center double-space">Your User Profile</h3><br>

<table>
	<tr>
		<td><strong>Wholesaling Company:</strong></td>
		<td><%= current_user.company %></td>
	</tr>
	<tr>
		<td><strong>Company email:</strong></td>
		<td><%= current_user.email %></td>
	</tr>
	<tr>
		<td><strong>Phone number:</strong></td>
		<td><%= current_user.phone %></td>
	</tr>
	<tr>
		<td><strong>Wholesaler website:</strong></td>
		<td><%= current_user.url %></td>
	</tr>
	<tr>
		<td><strong>Wholesaler's specialties:</strong></td>
		<td><%= current_user.specialties %></td>
	</tr>
	<tr>
		<td><strong>Buyers should also know:</strong></td>
		<td><%= current_user.details %></td>
	</tr>

</table>
<br><br>
	
	<p class="align-center"><i>Your profile information is posted along with each of your listings.</i></p>


	
	<h5 class="align-right"><%= link_to 'Edit Your Profile', edit_user_registration_path %></h5>
	<h5 class="align-right"><%= link_to 'View Your Listings', advert_summary_path %></h5>
	<h5 class="align-right"><%= link_to 'Your Account Settings', my_account_path %></h5>
	<br>

</div><!-- end .well -->