<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="align-center double-space">Your Profile Info</h3>
	</div>
	<div class="panel-body">
		<br>
		<table>
			<tr>
				<td><strong>Wholesaling Company:</strong></td>
				<td><%= current_user.company %></td>
			</tr>
			<tr>
				<td><strong>Company email:</strong></td>
				<td><%= current_user.email %></td>
			</tr>
			<tr>
				<td><strong>Phone number:</strong></td>
				<td><%= current_user.phone %></td>
			</tr>
			<tr>
				<td><strong>Wholesaler website:</strong></td>
				<td><%= current_user.url %></td>
			</tr>
			<tr>
				<td><strong>Wholesaler's specialties:</strong></td>
				<td><%= current_user.specialties %></td>
			</tr>
			<tr>
				<td><strong>Buyers should also know:</strong></td>
				<td><%= current_user.details %></td>
			</tr>

		</table>
		<br>
	</div><!-- end .panel-body -->
	<div class="panel-footer">
		<div class="row">
			<div class="col-sm-9">
				<p class="text-left"><i>Your profile information is posted along with each of your listings.</i></p>
			</div>
			<div class="col-sm-3">
				<h5 class="align-right"><%= link_to 'Edit Your Profile', edit_user_registration_path %></h5>
				<h5 class="align-right"><%= link_to 'View Your Listings', advert_summary_path %></h5>
				<h5 class="align-right"><%= link_to 'Your Account Settings', my_account_path %></h5>
			</div>
		<br>
	</div><!-- end .panle-footer -->
</div><!-- end .panel -->