<div class="well">

	<h3 class="align-center blue double-space">Your User Profile</h3>


	<h4 class="double-space"><strong class="blue">Wholesaling Company:</strong> <%= current_user.company %></h4>
	<h4 class="double-space"><strong class="blue">Company email:</strong> <%= current_user.email %></h4>
	<h4 class="double-space"><strong class="blue">Phone number:</strong> <%= current_user.phone %></h4>
	<h4 class="double-space"><strong class="blue">Wholesaler website:</strong> <%= current_user.url %></h4>
	<h4 class="double-space"><strong class="blue">Wholesaler's specialties:</strong> <%= current_user.specialties %></h4>
	<h4 class="double-space"><strong class="blue">Buyers should also know:</strong> <%= current_user.details %></h4>

	<br>
	
	<p class="align-center"><i>Your profile information is posted along with each of your listings, as relevant.</i></p>


	
	<h5 class="align-right"><%= link_to 'Edit Your Profile', edit_user_registration_path %></h5>
	<h5 class="align-right"><%= link_to 'View Your Listings', advert_summary_path %></h5>
	<h5 class="align-right"><%= link_to 'Your Account Settings', my_account_path %></h5>
	<br>

</div><!-- end .well -->