<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Resource %><br>
    <%= f.text_field :resource_name %>
  </div>

  <div class="field">
    <%= f.label :Specialties %><br>
    <%= f.text_field :specialties %>
  </div>

  <div class="field">
    <%= f.label :Website %><br>
    <%= f.text_field :url %>
  </div>

  <p>Note: A Wholesaler Educational Resource does not pull anything from your user profile. You can make as many custom Expert listings as you like.</p> 
 
  <div class="btn btn-success">
    <%= f.submit %>
  </div>
<% end %>
