<%= form_for(@resource) do |f| %>
  <% if @resource.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@resource.errors.count, "error") %> prohibited this resource from being saved:</h2>

      <ul>
      <% @resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="row">
      <div class="col-md-4">
        TODO: This form needs an input field for a company logo
      </div><!-- end col -->

      <div class="col-md-6">
          <div class="field">
            <h4><strong class="blue"><%= f.label :Resource %></strong></h4>
            <%= f.text_field :resource_name, class: 'form-control', placeholder: 'Your Product Name' %>
          </div>

          <div class="field">
            <h4><strong class="blue"><%= f.label :Specialties %></strong></h4>
            <%= f.text_field :specialties, class: 'form-control', placeholder: 'List a bio, specific training programs, or reasons why your product is unique.' %>
          </div>

          <div class="field">
            <h4><strong class="blue"><%= f.label :Website %></strong></h4>
            <%= f.text_field :url, class: 'form-control', placeholder: 'Product Website Here' %>
          </div>

          <p>Note: A Wholesaler Educational Resource does not pull anything from your user profile. You can make as many custom Expert listings as you like.</p> 
         
          <div class="align-center">
            <%= f.submit class: 'btn btn-info btn-lg' %>
          </div>
          
      </div><!-- end col div -->
    </div><!-- end row div -->
<% end %>
