<p id="notice"><%= notice %></p>

<h2 class="align-center">Resources for Wholesalers</h2>
<br>
<p>Browse the resources listed below to learn more about real estate wholesaling. <br>
  <br> Many of these experts have developed intense and well thought-out training programs inteded to coach anyone of any experience level into becoming a skilled real estate wholesaler. 
  Most training programs focus on the US as a whole, but if they are able to provide coaching for other areas of the country, they should say so in their profile. <br>
Many of the trainers below also have expanded into coaching investors on more than just wholesaling. Refer to their websites for full details.</p><br>

<div class="well">
    <br>
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>Resource</th>
          <th>Specialties</th>
          <th>Website</th>
          <th colspan="1"></th>
        </tr>
      </thead>

      <tbody>
        <% @resources.each do |resource| %>
          <tr>
            <td><%= resource.resource_name %></td>
            <td><%= resource.specialties %></td>
            <td><%= resource.url %></td>

            <td><%= link_to resource, class: 'btn btn-default btn-md' do %>
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true"></span>
            <% end %>
            <% if user_signed_in? && current_user == resource.user %>
                <%= link_to edit_resource_path(resource), class: 'btn btn-default btn-md' do %>
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span>
                <% end %>

                <%= link_to resource, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-default btn-md' do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                <% end %></td>
            <% end %><!-- end if user signed in -->
          </tr>
        <% end %>
      </tbody>
    </table>

    <br>
    <p> TODO: edit how paginations look. Center. Make smaller. </p>
    <p><%= will_paginate @resources, renderer: BootstrapPagination::Rails, class: 'align-center' %></p>

    <%= link_to new_resource_path, class: 'btn btn-default btn-lg' do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
    <% end %>


</div><!-- end .well -->
