<p id="notice"><%= notice %></p>

<h2 class="align-center blue">Resources for Wholesalers</h2>
<br>
<p>Browse the resources listed below to learn more about real estate wholesaling. <br>
  <br> Many of these experts have developed intense and well thought-out training programs inteded to coach anyone of any experience level into becoming a skilled real estate wholesaler. 
  Most training programs focus on the US as a whole, but if they are able to provide coaching for other areas of the country, they should say so in their profile. <br>
Many of the trainers below also have expanded into coaching investors on more than just wholesaling. Refer to their websites for full details.</p><br>

  <div class="well">

        <% @resources.each do |resource| %>
          
            <h3><strong><%= resource.resource_name %></strong></h3>
            <h4><span class="blue">Specialties: </span><%= resource.specialties %></h4>
            <h4><span class="blue">Website: </span><%= resource.url %></h4>

            <%= link_to resource, class: 'btn btn-info btn-md' do %>
                <span class="glyphicon glyphicon-resize-full" aria-hidden="true">View</span>
            <% end %>

            <% if user_signed_in? && current_user == resource.user %>
            
                <%= link_to edit_resource_path(resource), class: 'btn btn-info btn-md' do %>
                    <span class="glyphicon glyphicon-wrench" aria-hidden="true"> Edit</span>
                <% end %>

                <%= link_to resource, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-info btn-md' do %>
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"> Delete</span>
                <% end %>
            <% end %><!-- end if user signed in --> 
        <% end %><!-- end resources each do -->
  </div><!-- end .well -->


    <br>
    <p> TODO: edit how paginations look. Center. Make smaller. </p>
    <p><%= will_paginate @resources, renderer: BootstrapPagination::Rails, class: 'align-center' %></p>

    <%= link_to new_resource_path, class: 'btn btn-default btn-lg' do %>
      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                New
    <% end %>

