<p id="notice"><%= notice %></p>

<p>
  <strong>resource_name:</strong>
  <%= @resource.resource_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @resource.user_id %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
