<nav>

	<section class="small-logo"><%= link_to root_path do %>
        <%= image_tag('rewd_logo_v1_small.png', class: 'logo-image-small') %>   
      <% end %>
    </section><!-- end logo -->

    <section id="main-nav-options">
        <ul>
        	<li><%= link_to root_path do %>
        		<span class="hidden-xs hidden-sm">Wholesaler&nbsp;Database</span>
        		<span class="hidden-md hidden-lg">Database</span>
        		<% end %>

        	</li><li><%= link_to resources_path do %>
        		<span class="hidden-xs hidden-sm">Wholesaling&nbsp;Resources</span>
        		<span class="hidden-md hidden-lg">Resources</span>
        		<% end %>

        	</li><li><%= link_to about_path do %>
        		<span class="hidden-xs hidden-sm">Contact&nbsp;Us</span>
        		<span class="hidden-md hidden-lg">Contact</span>
        		<% end %>
        	</li>
    	</ul>
    </section><!-- end #main-nav on large screens -->





	<section id="hamburger-menu-area" class"small-nav-only">
	  <span id="nav-hamburger">&#9776;</span><br>
	  <span id="hamburger-menu-label">More</span>
	</section><!-- end #hamburger-menu-area -->

</nav>
<br>
<br>