
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
      <p class="small-logo"><%= link_to "Real Estate Wholesaler Database", root_path, class: 'title-footer no-decoration' %></p>
  
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div id="nav" class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

      <ul class="nav navbar-nav navbar-right">

          <li class="visible-xs-inline"><%= link_to "Wholesaler Database", root_path, class: 'nav-text indent' %></li>

          <li class="visible-xs-inline"><%= link_to "Learn Wholesaling", resources_path, class: 'nav-text indent' %></li>

          <li class="visible-xs-inline"><%= link_to "Contact Us", about_path, class: 'nav-text indent' %></li>

          <hr class="visible-xs-inline">

          <li><%= link_to newsletter_path, alt: 'newsletter' do %>
              <span class="glyphicon glyphicon-envelope nav-glyph" aria-hidden="true" alt="Newsletter"></span>
              <span class="visible-xs-inline nav-text">Newsletter</span>


                <ul class="hidden-xs">
                    <li class="nav-text">Newsletter &#10548;</li>
                </ul>
          <% end %></li>

           <% if user_signed_in? %>

              <li><%= link_to new_listing_choice_path do  %>
                  <span alt="New Listing" class="glyphicon glyphicon-pencil nav-glyph" aria-hidden="true"></span><span class="nav-text"></span>
                  <span class="visible-xs-inline nav-text">New Listing</span>
                    <ul class="hidden-xs">
                       <li class="nav-text">New Listing &#10548; </li>
                    </ul>
              <% end %></li>

              <li><%= link_to my_account_path do  %>
                  <span alt="My Account" class="glyphicon glyphicon-user nav-glyph" aria-hidden="true"></span>
                  <span class="visible-xs-inline nav-text">My Account</span>
                    <ul class="hidden-xs">
                       <li class="nav-text">My Account &#10548;</li>
                    </ul>              
              <% end %></li>


              <li><%= link_to destroy_user_session_path, :method => :delete do %>
                <span alt="Sign Out" class="glyphicon glyphicon-log-out nav-glyph" aria-hidden="true"></span>
                <span class="visible-xs-inline nav-text">Sign Out</span>
                    <ul class="hidden-xs">
                       <li class="nav-text">Sign Out &#10548;</li>
                    </ul>          
              <% end %></li>
              
            <% else %>

              <li><%= link_to new_user_session_path do %>
                <span alt="Sign In" class="glyphicon glyphicon-log-in nav-glyph" aria-hidden="true"></span>
                <span class="visible-xs-inline nav-text">Sign In</span>
                    <ul class="hidden-xs">
                       <li class="nav-text">Sign In &#10548;</li>
                    </ul>
              <% end %></li>
               
          <% end %><!-- end for if user is signed in -->


          
          <!--
           <li class="dropdown">
              <a href="#" class="dropdown-toggle nav-text" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                
                <span class="glyphicon glyphicon-align-justify"></span><span class="caret"></span>
              </a>
              <ul class="dropdown-menu">
              </ul>
            </li>
          -->
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav><!-- navbar -->
<br><br><br><br>
<p class="indent"><a href="https://www.facebook.com/REWholesalerDatabase" target="_none" class="nav-text"><%= image_tag('facebook.png', alt: "facebook", class: 'icon-small grow') %></a> &nbsp; &nbsp; &nbsp;

<a href="https://twitter.com/REWholesalerDb" alt="twitter" target="_none" class="nav-text"><%= image_tag('twitter.png', alt: 'twitter', class: 'icon-small bottom grow') %></a></p>
<br><br>
