<nav>

	<section class="small-logo"><%= link_to root_path do %>
        <%= image_tag('rewd_logo_v1_small.png', class: 'logo-image-small') %>  
        <% unless current_page?(root_path) %>
          <%= link_to "Real Estate Wholesaler Database", root_path, class: 'logo-company-top title-footer no-decoration no-wrap' %>
        <% end %> 
      <% end %>
  </section><!-- end logo -->


  <section id="main-nav-options">
    <ul>

  	</ul>
  </section><!-- end #main-nav on large screens -->
  
  <span class="hidden-xs">
  <section id="nav-options-inline">
        <ul>

           <% if user_signed_in? %>

              <li><%= link_to new_listing_path do  %>
                  <span alt="New Listing" class="glyphicon glyphicon-pencil nav-glyph grow" aria-hidden="true"></span><span class="nav-text"></span>
                  <span class="nav-icon-label">&nbsp;New</span>
                <% end %>
              </li>

              <li><%= link_to my_account_path do  %>
                  <span alt="My Account" class="glyphicon glyphicon-user nav-glyph grow" aria-hidden="true"></span>
                  <span class="nav-icon-label">Account</span>            
                <% end %>
              </li>


              <li><%= link_to destroy_user_session_path, :method => :delete do %>
                <span alt="Sign Out" class="glyphicon glyphicon-log-out nav-glyph grpw" aria-hidden="true"></span>
                 <span class="nav-icon-label">Sign&nbsp;Out</span>        
                <% end %>
              </li>
              
            <% else %>

              <li><%= link_to new_user_session_path do %>
                <span alt="Sign In" class="glyphicon glyphicon-log-in nav-glyph grow" aria-hidden="true"></span>
                <span class="nav-icon-label">Sign In</span>
                <% end %>
              </li>
          <% end %><!-- end for if user is signed in -->

          <li class="border-left"><%= link_to newsletter_path, alt: 'newsletter' do %>
              <span class="glyphicon glyphicon-envelope nav-glyph grow" aria-hidden="true" alt="Newsletter"></span>
              <span class="nav-icon-label">Updates</span>
            <% end %>
          </li>

            <li><%= link_to about_path do %>
                <span alt="Contact Us" class="glyphicon glyphicon-earphone nav-glyph grow" aria-hidden="true"></span>
                <span class="nav-icon-label">Contact</span>
                <% end %>
            </li>


        </ul>
  </section>
  </span>

  <span class="hidden-sm hidden-md hidden-lg">
    
	<section id="nav-options-dropped">
        <ul>
           <% if user_signed_in? %>

              <li><%= link_to new_listing_choice_path do  %>
                  <span alt="New Listing" class="glyphicon glyphicon-pencil nav-glyph grow" aria-hidden="true"></span><span class="nav-text"></span>
                  <span class="nav-text">New Listing</span>
                 
                <% end %>
              </li>

              <li><%= link_to my_account_path do  %>
                  <span alt="My Account" class="glyphicon glyphicon-user nav-glyph grow" aria-hidden="true"></span>
                  <span class="nav-text">My Account</span>
                               
                <% end %>
              </li>


              <li><%= link_to destroy_user_session_path, :method => :delete do %>
                <span alt="Sign Out" class="glyphicon glyphicon-log-out nav-glyph grpw" aria-hidden="true"></span>
                <span class="nav-text">Sign Out</span>
       
                <% end %>
              </li>
              
            <% else %>

              <li><%= link_to new_user_session_path do %>
                <span alt="Sign In" class="glyphicon glyphicon-log-in nav-glyph grow" aria-hidden="true"></span>
                <span class="nav-text">Sign In</span>
        
                <% end %>
              </li>
          <% end %><!-- end for if user is signed in -->

          <li><%= link_to newsletter_path, alt: 'newsletter' do %>
              <span class="glyphicon glyphicon-envelope nav-glyph grow" aria-hidden="true" alt="Newsletter"></span>
              <span class="nav-text">Newsletter</span>
            <% end %>
          </li>

           <li><%= link_to about_path do %>
              <span alt="Contact Us" class="glyphicon glyphicon-earphone nav-glyph grow" aria-hidden="true"></span>
              <span class="nav-text">Contact Us</span>
         
              <% end %>
            </li>


        </ul>
    </section><!-- end span for section for nav options -->
    </span>

  <span class="hidden-sm hidden-md hidden-lg">
	<section id="hamburger-menu-area" class"small-nav-only">
	  <span id="nav-hamburger">&#9776;</span><br>
	  <span id="hamburger-menu-label">More</span>
	</section><!-- end #hamburger-menu-area -->
  </span>

</nav>
<br>
<br>