<nav>

	<section class="small-logo"><%= link_to root_path do %>
        <%= image_tag('rewd_logo_v1_small.png', class: 'logo-image-small') %>   
      <% end %>
    </section><!-- end logo -->

    <section id="main-nav-options">
        <ul>
        	<li><%= link_to "Wholesaler Database", root_path %></li>
        	<li><%= link_to "Learn Wholesaling", resources_path %></li>
        	<li><%= link_to "Contact Us", about_path %></li>
    	</ul>
    </section><!-- end #main-nav on large screens -->





	<section id="hamburger-menu-area" class"small-nav-only">
	  <span id="nav-hamburger">&#9776;</span><br>
	  <span id="hamburger-menu-label">Menu</span>
	</section><!-- end #hamburger-menu-area -->

</nav>
<br>