<!DOCTYPE html>
<html>
<head>
    <html lang="en">

<!-- written by Alison Ostendorf
    Project: Real Estate Wholesaler Database
    to be posted at rewholesalerdatabase.com when all done
    team@rewholesalerdatabase.com
    contact: aostendorf@gmail.com -->


  <title>Real Estate Wholesaler Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Vie a national database of real estate investment wholesalers, free." content="Real Estate Wholesaler Databse">
  
   
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <!-- below is for modals -->
    <script type="text/javascript"> $(function ()
        { $("#myModal").modal({show:false }); </script>
        
    <%= javascript_include_tag :defaults %>

</head>
<body class="<%= controller_name %><%= action_name%>">

    <%= render 'layouts/navbar' %>


    <div class="container" id="main-container">  
   
        <div><!-- begin div for internal page content -->
            <% flash.each do |name, msg| %>
            <% content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>
           

           <%= render 'layouts/jumbotron' %>

            <%= yield %>


    
        </div><!-- end div for internal page content -->
</div><!--end #main-container -->

<br>


    <footer class="footer">
        <div class="container">
            <div class="row align-center">
                <div class="col-sm-4 col-xs-12 align-center">
                    <p><%= link_to 'List yourself as a wholesaler', new_listing_path %></p>
                    <p><%= link_to 'List yourself as a trainer', new_resource_path %></p>
                </div><!-- end col -->

                <div class="col-sm-4 col-xs-12 align-center">
                    <p>Terms and Conditions</p>
                    <p>Privacy Policy</p>
                </div>

                <div class="col-sm-4 col-xs-12 align-center">
                    <p class="vertical-center"><%= link_to "Real Estate Wholesaler Database", root_path, class: 'title-footer no-decoration no-wrap' %></p>
                    <p>Developed by Virgo Ventures LLC</p>
                </div><!-- col -->
            </div><!-- row -->
        </div><!--container class for footer -->
    </footer>


</body>
</html>
