<!DOCTYPE html>
<html>
<head>
	<html lang="en">

<!-- written by Alison Ostendorf
	Project: Real Estate Wholesaler Database
	to be posted at rewholesalerdatabase.com when all done
    team@rewholesalerdatabase.com
	contact: aostendorf@gmail.com -->


  <title>RealEstateWholesalerDatabase</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="Vie a national database of real estate investment wholesalers, free." content="Real Estate Wholesaler Databse">
  
   
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

</head>
<body>

    <%= render 'layouts/navbar' %>


    <div class="container" id="main-container">  

        <div>
            <a class="no-decoration"><href="index.html" alt="Real Estate Wholesaler"><h1>Real Estate Wholesaler Database</h1></a>
            
            <h3 class="tagline"> No more scouring Craigslist or contacting bandit signs to find off market property deals...<br> Contact real estate property wholesalers in your investing market directly. </h3>
        </div>

        <div class="clear"></div>

        <div class="container" id="main-nav-container">
            <nav>
                <ul>
                	<li><%= link_to "Wholesaler Database", root_path, class: "vertical-line nav-only" %></li>
                    <li><%= link_to "Learn Wholesaling", wholesaling_path, class: "vertical-line nav-only" %></li>
                    <li><%= link_to "Contact Us", about_path, class: "vertical-line nav-only"%></li>
                </ul>    
            </nav>
        </div><!--end #main-nav-container --> 
   
        <div><!-- begin div for internal page content -->
            <% flash.each do |name, msg| %>
            <% content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>
           

            <%= yield %>


    
        </div><!-- end div for internal page content -->
        <br>
        <div><!-- start div for footer -->
            <footer>
                <ul class="footer-lists">
                    <li><%= render 'layouts/new_wholesaler_modal' %></li>
                    <li><%= link_to 'List yourself as a trainer', wholesaling_path %></li>
                    <li>Contact us here or send an email directly to team@rewholesalerdatabase.com</li>
                </ul>
                
            </footer>
        </div> 


    </div><!--end #main-container -->

     
</body>
</html>
