<!DOCTYPE html>
<html lang="en">
<head>

<!-- written by Alison Ostendorf
    Project: Real Estate Wholesaler Database
    to be posted at rewholesalerdatabase.com when all done
    team@rewholesalerdatabase.com
    contact: aostendorf@gmail.com -->


  <title>Real Estate Wholesaler Database</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
   <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

 
  <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="A national database of real estate investment wholesalers, free to view." content="Real Estate Wholesaler Databse">
    <!-- favicon below -->
    <%= favicon_link_tag %>
  
    <!--     Google fonts imported below --> 
    <link href='https://fonts.googleapis.com/css?family=Cousine' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Patrick+Hand' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Fjalla+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet' type='text/css'>

    <%= javascript_include_tag('application') %>

</head>
<body class="<%= controller_name %>_<%= action_name%>">

    <%= render 'layouts/navbar' %>
    <%= render 'layouts/newsletter_modal' %>

    <div class="container" id="main-container">  
   
        <div><!-- begin div for internal page content -->
    
                <% flash.each do |name, msg| %>
      

            <% content_tag(:div, msg, class: "alert alert-#{name}") %>
            <% end %>
        
            <%= yield %>
    
        </div><!-- end div for internal page content -->
</div><!--end #main-container -->

<br>
    <div class="clearfix"></div>
    <br><br>
  
  <%= render 'layouts/footer' %>

<!-- this is for Agile CRM tracking  -->
<script type="text/javascript" src="https://rewholesalerdatabase.agilecrm.com/stats/min/agile-min.js"> </script> <script type="text/javascript" > _agile.set_account('2icm59erulgt3edcbjs73cpk88', 'rewholesalerdatabase'); _agile.track_page_view(); _agile_execute_web_rules(); </script>

</body>
</html>
